@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");
@font-face {
  font-family: 'KCC-Ganpan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}
body {
  font-family: 'KCC-Ganpan';
	overflow-x: hidden;
}

h1 {
	width: 100%;
	padding: 1rem 0;
	display: flex;
	justify-content: center;
	gap: 1rem;
	font-size: calc(1rem + 2vw);
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5),
		2px 2px 2px rgba(0, 0, 0, 0.5), 3px 3px 2px rgba(255, 255, 255, 0.7),
		4px 4px 2px rgba(0, 0, 0, 0.7);
	justify-content: center;
	align-items: center;
	background: url(../images/header-bg.png);
	color: white;
}

h1 span {
	text-transform: uppercase;
	font-size: calc(4rem + 2vw);
	font-weight: 700;
	background: #fff;
	color: transparent;
	text-shadow: 5px 5px 7px rgba(255, 255, 255, 0.5);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	background-size: cover;
}

.menu {
	position: sticky;
	top: 0;
	z-index: 10;
}

.menu > ul {
	position: relative;
	display: inline-flex;
	width: 100%;
	background-color: orange;
	color: #fff;
	font-weight: 600;
	justify-content: center;
	flex-wrap: wrap;
}
.menu .sub-menu{color: #333;}
.menu > ul > li {
	cursor: pointer;
	padding: 1rem 2rem;
	transition: ease-in 300ms;
}
.menu > ul > li:hover {
	background-color: #3f3f3f;
}
.menu ul li:hover .sub-menu {
	opacity: 1;
	transform: translatex(0);
	pointer-events: auto;
}
.sub-menu {
	position: absolute;
	background: #fff;
	width: 100%;
	padding: 1rem 2rem;
	pointer-events: none;
	left: 0;
	right: 0;
	top: 100%;
	opacity: 0;
	transform: translatex(-100%);
	transition: cubic-bezier(0.5, -0.15, 0.56, 1.51) 700ms;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 1rem;
}
.sub-menu > li,
.sub-menu > li > ul > li {
	cursor: pointer;
	position: relative;
}
.sub-menu > li {
	padding: 0.5rem 0;
}
.sub-menu > li > ul > li {
	padding: 0.2rem 0;
	margin: 0 0.5rem;
}
.sub-menu > li::after,
.sub-menu > li > ul > li::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 5px;
	background: orange;
	
	transform: scalex(0);
	transition: ease-in 100ms;
}
.sub-menu > li:hover::after,
.sub-menu > li > ul > li:hover::after {
	transform: scalex(1);
}

.grid-2 {
	display: grid;
	grid-template:
		"a a" auto
		"b b" auto;
	justify-content: space-evenly;
	justify-items: start;
	align-items: start;
	align-content: center;
}
.grid-2 > li {
	position: static !important;
	color: orange;
	font-weight: 700;
}
.grid-2 > li > ul > li {
	color: #333;
	font-weight: 400;
}
.grid-2 > li::after {
	position: static;
}
.article {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 2rem 2rem 2rem;
	font-size: 20px;
	text-align: center;
}
.article h2{color:rgb(206, 25, 16); text-shadow: 5px 5px 5px #aeaeae;}
.article img{
	border-radius: 1rem;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	margin-top: 2rem;
	height: 800px;
	object-fit: cover;
}
#close,
#menu-icon {
	display: none;

}








/* Tab 영역--------------------------------------------------- */
@media screen and (max-width: 768px){
	h1{
		background: pink;
	}
	.menu {
		position: fixed;
		transform: translatex(100%);
		transition: ease-in-out 300ms;
		background: orange;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 1rem;
		height: 100%;
		overflow-y: auto;
	}
	.menu > ul {
		display: flex;
		justify-content: strech;
		align-items: strecht;
		flex-direction: column;
		gap: 1rem;
		margin-top: 2rem;
	}

	.sub-menu {
		position: static;
		opacity: 1;
		transform: translatex(0);
		display: flex;
		flex-direction: column;
	}

	.sub-menu > ul > li {
		padding: 0.5rem;
		border-radius: 0.5rem;
		background: orange;
	}
	.grid-2 {
		display: flex;
		flex-direction: column;
		align-content: flex-start;
	}
/* about 영역 -tab */
	.article {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		max-width: 800px;
		margin: 0 auto;
		padding: 0 2rem 2rem 2rem;
		font-size: 18px;
		text-align: center;
	}
	.article h2{color:rgb(206, 25, 16); text-shadow: 5px 5px 5px #aeaeae;}
	.article img{
		border-radius: 1rem;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
		margin-top: 2rem;
		height: 600px;
		object-fit: cover;
	}

	#close {
		display: flex;
		justify-content: center;
		position: absolute;
		top: 0.5rem;
		left: 0.5rem;
		z-index: 1;
		background: #3f3f3f;
		color: white;
		font-weight: 700;
		height: 25px;
		width: 25px;
		border-radius: 50%;
		cursor: pointer;
		transition: ease-in-out 300ms;
	}
	.menu.active {
		transform: translatex(0);
	}

	#menu-icon {
		display: flex;
		justify-content: center;
		cursor: pointer;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 99;
		background: #3f3f3f;
		color: white;
		padding: 0.5rem 1rem;
		border-radius: 0 0 0 0.5rem;
	}
	#menu-icon.active {
		display: none;
	}
	.menu > ul > li {
		background-color: #3f3f3f;
		border-radius: 0.3rem;
	}


/* Swiper */
.swiper {
  width: 100%;
  height: 300px;
	z-index: 1;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.swiper-slide img{
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.swiper .swiper-button-next{color: rgba(255,255,255,0.8);}
.swiper .swiper-button-prev{color: rgba(255,255,255,0.8);}
.swiper-pagination-bullet {
  background: white !important;
}
.mySwiper2 img{border-radius: 30px;}
.mySwiper2 img:hover{opacity: 0.8; transition: all 0.3s;}

}
/* tab end --------------------------------------------------- */









/* Mobile 영역-------------------------------------------------- */
@media screen and (max-width: 480px) {
	h1 {
		display: flex;
		gap: 0;
		flex-direction: column;
		background: url(../images/header-bg.png);
		color: white;
	}
	.menu {
		position: fixed;
		transform: translatex(100%);
		transition: ease-in-out 300ms;
		background: orange;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 1rem;
		height: 100%;
		overflow-y: auto;
	}
	.menu > ul {
		display: flex;
		justify-content: strech;
		align-items: strecht;
		flex-direction: column;
		gap: 1rem;
		margin-top: 2rem;
	}

	.sub-menu {
		position: static;
		opacity: 1;
		transform: translatex(0);
		display: flex;
		flex-direction: column;
	}

	.sub-menu > ul > li {
		padding: 0.5rem;
		border-radius: 0.5rem;
		background: orange;
	}
	.grid-2 {
		display: flex;
		flex-direction: column;
		align-content: flex-start;
	}
/* about 영역 -mobile */
	.article {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		max-width: 800px;
		margin: 0 auto;
		padding: 0 2rem 2rem 2rem;
		font-size: 15px;
		text-align: center;
	}
	.article h2{color:rgb(206, 25, 16); text-shadow: 5px 5px 5px #aeaeae;}
	.article img{
		border-radius: 1rem;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
		margin-top: 2rem;
		height: 400px;
		object-fit: cover;
	}

	#close {
		display: flex;
		justify-content: center;
		position: absolute;
		top: 0.5rem;
		left: 0.5rem;
		z-index: 1;
		background: #3f3f3f;
		color: white;
		font-weight: 700;
		height: 25px;
		width: 25px;
		border-radius: 50%;
		cursor: pointer;
		transition: ease-in-out 300ms;
	}
	.menu.active {
		transform: translatex(0);
	}

	#menu-icon {
		display: flex;
		justify-content: center;
		cursor: pointer;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 99;
		background: #3f3f3f;
		color: white;
		padding: 0.5rem 1rem;
		border-radius: 0 0 0 0.5rem;
	}
	#menu-icon.active {
		display: none;
	}
	.menu > ul > li {
		background-color: #3f3f3f;
		border-radius: 0.3rem;
	}


/* Swiper */
.swiper {
  width: 100%;
  height: 300px;
	z-index: 1;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.swiper-slide img{
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.swiper .swiper-button-next{color: rgba(255,255,255,0.8);}
.swiper .swiper-button-prev{color: rgba(255,255,255,0.8);}
.swiper-pagination-bullet {
  background: white !important;
}
.mySwiper2 img{border-radius: 30px; width: 200px; height: 200px;}
.mySwiper2 img:hover{opacity: 0.8; transition: all 0.3s;}


}
/* -----------------------------mobile end */

















/* YOUTUBE VIDEO area */
.youtube{
	position: relative;
	margin: 20px auto;
	max-width: 1920px;
	width: 100%;
	border: 12px solid orange;
}
.youtube > div{
	width: 100%;
	padding-bottom: 56.25%;
}
.youtube > div iframe{
	position: absolute;
	z-index: 1;
	top: 0; left: 0;
	width: 100%; height: 100%;
}

/* 유튜브 영상 클릭 안되는 커버 */
.youtube .youtube__cover{position: absolute;top: 0;left: 0;width: 100%;height: 100%;overflow: hidden;}

/* map area */
.map{
	position: relative;
	margin: 20px auto;
	max-width: 800px;
	width: 100%;
	border: 2px solid rgb(219, 144, 16);
}
.map > div{
	width: 100%;
	padding-bottom: 56.25%;
}
.map > div iframe{
	position: absolute;
	z-index: 1;
	top: 0; left: 0;
	width: 100%; height: 100%;
}


/* FOOTER */
footer{background: #fff;border-top: 1px solid #333; overflow: hidden;}
footer .inner{padding: 40px 0 60px;} 

footer .inner .menu{display: flex;justify-content: center;} 
footer .inner .menu li{position: relative;}
footer .inner .menu li::before{content: "";position: absolute;top: 0;bottom: 0;margin: auto;width: 3px;height: 3px;background: #555;} 
footer .inner .menu li a{padding: 15px;color: #666;}

footer .inner .menu li:first-child::before{display: none;}
footer .inner .menu li:first-child a{color: #dd6e18;font-weight: bold;}

footer .inner .btn-group{margin: 30px 0;display: flex;justify-content: center;}
footer .inner .btn-group a{color: #888;border: 2px solid #333;padding: 10px 15px;border-radius: 4px;font-weight: bold;transition: all 0.3s;}
footer .inner .btn-group a:nth-child(2){margin: 0 20px;}
footer .inner .btn-group a:hover{background: #333;color: #fff;}

footer .inner address{text-align: center;color: #666;}
footer .inner address span{margin: 0 15px;}

footer .inner .copyright{color: #666;text-align: center;margin: 10px 0 20px;}

footer .inner img{margin: auto; align-items: center; display: flex;}


/* Swiper */
.swiper {
  width: 100%;
  height: 600px;
	z-index: 1;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.swiper-slide img{
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.swiper .swiper-button-next{color: rgba(255,255,255,0.8);}
.swiper .swiper-button-prev{color: rgba(255,255,255,0.8);}
.swiper-pagination-bullet {
  background: white !important;
}
.mySwiper2 img{border-radius: 30px;}
.mySwiper2 img:hover{opacity: 0.8; transition: all 0.3s;}

/* SNS section */
#publish{
	margin: 20px;
}
.container {
  max-width: 1000px;
  padding: 0 2%;
  margin: 0 auto;
}
.publish-single {
  float: left;
  width: 33.3%;
  padding-top: 33.3%;
  background-size: 100% 100%;
  border: 4px solid #fff;
}